---
layout: default
title: "hillhacks: Hacking and making in the Himalayas"
permalink: /
---
<div class="header row">
    <div class="row logo"></div>
    <h1>Hacking and making in the Himalayas</h1>
    <h3>Bir, Himachal Pradesh, India</h3>
    <h3>15-31 May 2017</h3>
    <div class="col-md-4 col-sm-4 col-sm-offset-2 col-md-offset-4">
        <a href="{{site.baseurl}}/register/">
            <button type="button" class="btn btn-primary btn-lg btn-block cta-1">REGISTER NOW!</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 font-size-md">
        <div class="section-white">
            <div class="row homepage-gallery">
                <div class="col-md-12 no-padding mt20">
                    <div class="row">
                    {% for num in (1..9) %}
                        {% capture image_href %}{{site.baseurl}}/assets/images/img-{{num}}.png{% endcapture %}
                        {% include lightbox-image.html href=image_href %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



