<!--
<footer class="site-footer footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col text-center">
        <p style="text-align: center;">cloned from <a href="https://github.com/hillhacks"><img src="assets/images/hillhacks.png">hillhacks</a></p>
      </div>
    </div>
  </div>
</footer>
-->
<script type="text/javascript" src="{{"/js/bootstrap-native.min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/js/lightbox.min.js" | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{"/js/lightbox.js" | prepend: site.baseurl}}"></script>
