/**
 * font definitions
 */

@font-face {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    src: local('Francois One Regular'), local('FrancoisOne-Regular'), url(/fonts/francoisone/FrancoisOne-Regular.ttf) format('truetype');
}
