---
layout: default
---
<div class="row">
    <div class="col-md-10 col-md-offset-1 mb100">
        <div class="section-white font-size-md mt100">
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title">{{ page.title }}</h2>
                    <div class="underline"></div>
                </header>

                <div class="post-content">
                    {{ content }}

                    {% if page.edit != false %}
                    <hr/>
                    <p class="edit-helper">

                        You can submit an improvement to this page by
                        <a href="https://github.com/hillhacks/website/blob/master/{{page.path}}"
                        title="Click the Pencil, the link takes you directly to the correct page">visiting GitHub</a>.
                        You will need to fork the website and submit a Pull Request.
                        If you don't want to use a GitHub account, feel free to submit a patch on the mailing list.
                    </p>
                {% endif %}
                </div>
            </article>
        </div>
    </div>
</div>
