---
layout: default
---
<div class="container-fluid mb100">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="section-white font-size-md mt100">
                <article class="post">
                     <header class="post-header">
                        <h2 class="post-title text-uppercase">{{ page.title }}</h2>
                        <div class="underline"></div>
                    </header>

                    <div class="post-content">
                        {{ content }}
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
